<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원 관리 페이지</h2>
    </div>

    <div id="logout-btn" class="my-2 py-2 align-middle float-right btn btn-secondary">로그아웃</div>

    <table id="userTable" class="table table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>등급</th>
            <th>이메일</th>
            <th>UUID</th>
            <th>생성일자</th>
            <th>수정일자</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>